body{
background-color:black;
}
div{
    margin: 0;
    padding: 0;
}
.plateau{
    padding: 5vw;
}
#labyrinthe{
     position: relative;

 }

.square{
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: black;
    height: 100px;
    width: 100px;
    box-sizing: border-box;
}

.start{
    position: absolute;
    background-color: #303E8C;
    height: 90px;
    width: 90px;
    margin: 5px;
}
.finish{
    position: absolute;
    background-color:#F24F13;
    height: 90px;
    width: 90px;
    margin: 5px;
}
.playerStyle{
    position: absolute;
    font-size: 30px;
    margin:23px 38px ;
}
.active{
    color: white;
}
.wall-top{
    border-top : 5px solid #4EA696;
}
.wall-left{
    border-left : 5px solid #4EA696;
}
.wall-bottom{
    border-bottom : 5px solid #4EA696;
}
.wall-right{
    border-right : 5px solid #4EA696;
}


#theGAme{
   color: #4EA696;
    font-size: 14px;
}

.visited{
    color:#0E2226;
    background-color: #0E2226;
    height: 90px;
    width: 90px;
    margin: 5px;
}



